task04/src/main/resources/banks.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.epam.adventuretime.by/banks"
           xmlns="http://www.epam.adventuretime.by/banks"
           elementFormDefault="qualified">
    <xs:element name="banks">
        <xs:complexType>
            <xs:all>
                <xs:element name="bank">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" type="xs:normalizedString"/>
                            <xs:element name="country" type="xs:string"/>
                            <xs:element name="site" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:all>
        </xs:complexType>
    </xs:element>
</xs:schema>
